* {
    box-sizing: border-box;
}

body {
    width: 100%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

a {
    text-decoration: none !important;
    font-family: "PlayfairDisplay-Regular"
}

.container-fluid {
    background-color: white;
    border-color: white
}

nav {
    color: white;
    border-color: white;
}

.logo {
    height: 25px;
}

.logo:hover {
    transform: scale(1.3, 1.3);
    transition: all 1s ease;
}

.collapse navbar-collapse {
    margin: 0px;
    padding: 0px;
}

.navbar-expand-lg .navbar-nav>li>a:hover {
    color: blue;
}

.banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 88.5%;
    padding-top: 80px;
}

.banner:hover {
    transform: scale(1.1, 1.1);
    transition: all 1s ease;
}

.main-article {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.article__category:hover {
    color: blue;
}

.article__title:hover {
    color: blue;
}

.article__title {
    color: var(--text-color);
    font-family: "PlayfairDisplay-Regular";
}

.main-article__content {
    color: var(--text-color);
    font-size: 14pt;
    font-family: "PlayfairDisplay-Regular";
    padding-top: 25px;
    line-height: 28px;
    max-height: 215px;
    overflow: hidden;
}

.article__content {
    color: var(--text-color);
    font-size: 14pt;
    font-family: "PlayfairDisplay-Regular";
    padding-top: 25px;
    line-height: 28px;
    max-height: 110px;
    overflow: hidden;
}

p {
    color: var(--text-color);
    font-size: 14px;
    font-family: "PlayfairDisplay-Regular";
}

.article__category, .main-article__comment {
    font-size: 14pt;
    font-family: "Ubuntu-Light";
    color: var(--text-blur-color)
}

.main-article__comment {
    padding-top: 50px;
}

.main-article__comment>a {
    color: var(--text-blur-color)
}

.main-article__comment>a:hover {
    color: blue
}

.article-list {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.article__img {
    width: 100%;
    margin-bottom: 30px;
}

.article__img:hover {
    transform: scale(1.1, 1.1);
    transition: all 1s ease;
}

.sign-up-container {
    clear: both;
    background-color: #F3F3F3;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}

.sign-up__email>input, .sign-up__title {
    font-family: "PlayfairDisplay-Regular"
}

.email:hover {
    font-size: 15pt;
    transition: all 1s ease;
}

.icon-send:hover {
    transform: scale(1.3, 1.3);
    transition: all 1s ease;
}

.load-more-container {
    clear: both;
    margin: 0 auto;
    text-align: center;
    padding-top: 170px;
    padding-bottom: 500px;
}

.load-more {
    padding: 15px 30px;
    border: solid 1px var(--text-color);
    width: 150px;
    font-family: "PlayfairDisplay-Regular";
    color: var(--text-color);
    font-size: 20pt;
}

.load-more:hover {
    background-color: blue;
    color: white;
}

footer {
    width: 100%;
}

footer div {
    background-color: #F3F3F3;
    clear: both;
}

ul li {
    list-style-type: none;
    float: left;
}

ul li a {
    display: block;
    padding: 10px;
    color: var(--text-color);
    font-size: 14pt;
    font-family: "PlayfairDisplay-Regular";
}

ul {
    margin: 0;
    padding: 0;
}

.menu-social img {
    height: 15px;
}

.menu-social img:hover {
    transition: all 1s ease;
    transform: rotate(20deg);
}

.menu-social li {
    float: right;
}

.col-md-6 {
    padding-left: 0px;
}

/* start preload */

#loading {
    background-color: #138ef3;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1000000;
    margin-top: 0px;
    top: 0px;
    left: 0;
}

#loading-center {
    width: 100%;
    height: 100%;
    position: relative;
}

#loading-center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 200px;
    width: 200px;
    margin-top: -100px;
    margin-left: -100px;
}

#object {
    width: 80px;
    height: 80px;
    background-color: #FFF;
    -webkit-animation: animate 1s infinite ease-in-out;
    animation: animate 1s infinite ease-in-out;
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
}

@-webkit-keyframes animate {
    0% {
        -webkit-transform: (160px);
    }
    50% {
        -webkit-transform: perspective(160px) rotateY(-180deg);
    }
    100% {
        -webkit-transform: perspective(160px) rotateY(-180deg) rotateX(-180deg);
    }
}

@keyframes animate {
    0% {
        transform: perspective(160px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(160px) rotateX(0deg) rotateY(0deg);
    }
    50% {
        transform: perspective(160px) rotateX(-180deg) rotateY(0deg);
        -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(0deg);
    }
    100% {
        transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
        -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
    }
}

/* end preload */

/* color */

:root {
    --text-color: #646464;
    --text-blur-color: #DEDDDA;
}

/* font */

@font-face {
    font-family: 'PlayfairDisplay-Regular';
    src: url('../fonts/Playfair_Display/PlayfairDisplay-Regular.ttf');
}

@font-face {
    font-family: 'Ubuntu-Bold';
    src: url('../fonts/Ubuntu/Ubuntu-Bold.ttf');
}

@font-face {
    font-family: 'Ubuntu-Light';
    src: url('../fonts/Ubuntu/Ubuntu-Light.ttf');
}

/* Dành cho điện thoại */

@media all and (min-width: 320px) {
    .term-container {
        height: 40px;
        text-align: center;
    }
    .term-container ul {
        display: inline-block;
        text-align: inherit;
    }
    .social-container {
        text-align: center;
    }
    .menu-social {
        display: inline-block;
        text-align: inherit;
    }
    nav ul li {
        float: none;
    }
    .navbar-expand-lg .navbar-brand {
        padding-left: 10px;
    }
    .navbar-toggler {
        border: 1px solid var(--text-color);
    }
    .navbar-toggler-icon {
        background-image: url("../img/menu.png")
    }
    .navbar-expand-lg .navbar-toggle:focus, .navbar-expand-lg .navbar-toggle:hover {
        background-color: blue;
    }
    .article-list article {
        padding-top: 40px;
        padding-bottom: 20px;
        float: left;
    }
    .article__title {
        font-size: 20pt;
    }
    .article__category, .main-article__comment {
        font-size: 16px;
    }
    .article__content, .main-article__content {
        font-size: 14px
    }
    .main-article .article__category {
        margin-top: 40px;
    }
    .article__img {
        width: 100%;
        margin-bottom: 30px;
    }
    .sign-up-container {
        height: 200px;
    }
    .sign-up__title {
        font-size: 16px;
        margin-bottom: 50px;
    }
    .sign-up {
        width: 200px;
        margin: 0 auto;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 40px;
    }
    .sign-up__email {
        position: relative;
        width: 100%;
        height: 30px;
        display: flex;
        align-items: center;
    }
    .sign-up__email>input {
        width: 100%;
        border: none;
        background: transparent;
        padding: 8px;
        font-size: 13px;
        border-bottom: solid 1px black;
    }
    .icon-send {
        position: absolute;
        right: 0;
        flex-shrink: 0;
    }
    .icon-send img {
        width: 30px;
        height: 15px;
    }
    .load-more {
        font-size: 16px;
    }
}

/* device */

@media print {
    .sign-up {
        width: 300px;
    }
}

/* Dành cho máy tính bảng chiều ngang */

@media all and (min-width: 600px) and (orientation: landscape) {
    nav {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 88.5%;
    }
    .navbar-expand-lg .navbar-nav>li>a {
        padding-left: 30px;
        padding-right: 30px;
    }
    .navbar-expand-lg .navbar-nav>li:last-child>a {
        padding-left: 30px;
        padding-right: 0px;
        margin-right: 0px;
    }
    .main-article .article__category {
        margin-top: 40px;
    }
}

/* Dành cho máy tính bảng chiều dọc */

@media all and (min-width: 600px) and (orientation: portrait) {
    .container-fluid {
        padding-right: 0px;
        padding-left: 0px;
    }
    nav {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 88.5%;
    }
    ul.nav.navbar-nav {
        float: left;
    }
    .container-fluid>.navbar-collapse {
        margin-right: 0px;
        padding-right: 0px;
    }
    .main-article .article__category {
        margin-top: 40px;
    }
    .article-list article:nth-of-type(odd) {
        padding: 100px 15px 0px 0px;
    }
    .article-list article:nth-of-type(even) {
        padding: 100px 0px 0px 15px;
    }
    .article-list article:nth-of-type(even):last-child {
        padding-bottom: 100px
    }
}

/* Dành cho màn hình desktop */

@media all and (min-width: 1280px) {
    .container-fluid {
        padding-right: 0px;
    }
    .navbar-expand-lg .navbar-brand {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 0px;
    }
    nav {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 1062px;
    }
    ul.nav.navbar-nav {
        float: right;
    }
    .navbar {
        padding: 0px;
    }
    .navbar-collapse {
        margin-right: 0px;
        padding-right: 0px;
    }
    .navbar-expand-lg .navbar-nav>li>a {
        color: #727272;
        padding-left: 60px;
        padding-right: 60px;
    }
    .navbar-expand-lg .navbar-nav>li:last-child>a {
        padding-left: 60px;
        padding-right: 0px;
        margin-right: 0px;
    }
    .main-article {
        padding-top: 80px;
    }
    .article-list article:nth-of-type(odd) {
        padding: 135px 30px 0px 0px;
    }
    .article-list article:nth-of-type(even) {
        padding: 135px 0px 0px 30px;
    }
    .article-list article:nth-of-type(even):last-child {
        padding-bottom: 100px
    }
    .article__title {
        font-size: 30pt;
    }
    .sign-up-container {
        height: 290px;
    }
    .sign-up__title {
        font-size: 40px;
        margin-bottom: 90px;
    }
    .sign-up {
        width: 500px;
        margin: 0 auto;
        text-align: center;
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .sign-up__email {
        position: relative;
        width: 100%;
        height: 30pt;
        display: flex;
        margin: 0 auto;
        align-items: center;
    }
    .sign-up__email>input {
        font-size: 19px;
        width: 100%;
        border: none;
        background: transparent;
        padding: 8px;
        border-bottom: solid 1px black;
    }
    .icon-send {
        position: absolute;
        right: 0;
        flex-shrink: 0;
    }
    .icon-send img {
        width: 35px;
        height: 20px;
    }
    footer div {
        height: 85px;
        margin: 0 auto;
    }
    footer>div {
        display: flex;
        margin: 0 auto;
        text-align: center;
    }
    .term-container {
        flex-shrink: 1;
        height: 40px;
        margin: auto;
        margin-left: 150px;
    }
    .social-container {
        flex-shrink: 1;
        height: 40px;
        margin: auto;
        margin-right: 40px;
    }
    .menu-term>li>a {
        font-size: 14pt;
    }
}   